body{
    margin: 0;
    padding: 0;
    background-color: rgb(219, 193, 220);
    text-align: center;
}
ol{
    margin-left: 42%;
}

.card1{
    height: 80px;
    width: 80px;
    background-color: green;
    margin: 20px;
    transition-duration: 3s;
}
.card1:hover{
    width: 200px;
}

.card2{
    height: 80px;
    width: 80px;
    background-color: green;
    margin: 20px;
    transition-duration: 3s;
}
.card2:hover{
    width: 200px;
    height: 200px;
}
.card{
    height: 80px;
    width: 80px;
    background-color: green;
    margin: 20px;
}