h1{
    color: red;
}
h2{
    color: green;
    font-style: italic;
}
.span1{
    background-color: yellow;
}
.line{
    font-style: italic;
    font-size: 20px;
    text-decoration-line: underline;
}
ul{
    color: brown;
}
.p1{
    color: brown;
    font-size: 20px;
}
.p2
{
    color: brown;
    font-size: 15px;
}
.p3{
    color: brown;
    font-size: 20px;
}
a{
    color: brown;
}